.App {
  text-align: center;
  width: 80%;
  max-width: 100%;
  margin: auto;
}
.FriendsList {
  display: flex;
  flex-direction: column;
}
.Header {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}
.Header h1 {
  margin-left: 1rem;
}
.Header a {
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;
}
.Ppl {
  background: lightgrey;
}
.Form {
  background: lightblue;
}
